@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Rubik:wght@300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  padding: 10px;
  font-weight: bold;
}



.products-container {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 10px;
}

img {
  width: 120px;
  height: 250px;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.details{
  font-size: 12px;
  text-align: center;
  color: rgb(37, 37, 173);
  cursor: pointer;
  font-weight: bold;
}

.beer{
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}


.footer {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}
.modalBackground {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.457);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  border-radius: 12px;
  background-color: rgb(8, 8, 8);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .modalTitle {
  display: inline-block;
  text-align: justify;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white
}

.modalContainer button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.wrapperBt{
  width: 100%;
  display: flex;
  justify-content: right;
}

.modalContainer .modalBody {
  font-size: 15px;
  color: white;
  margin-bottom: 8px;
  text-align: justify;
}

.modalContainer .modalFooter {
  display: flex;
  justify-content: center;
  color: rgb(155, 155, 239);
  text-align: justify
}

.modalSubtitle{
  text-align: justify;
  color: blue;
  margin-bottom: 3px;
  font-weight: bold;
}

@media all and (max-width:900px){
  img{
    width: 200px;
    height: 400px
  }
  .products-container{
    display: flex;
    flex-direction: column;
  }
  
  .modalContainer{
    width: 330px
  }
}